<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "accountant1" class = "io.welldev.configuration.beans.Accountant"/>
    <bean id = "accountant2" class = "io.welldev.configuration.beans.Accountant"/>

    <bean id = "manager" class = "io.welldev.configuration.beans.Manager">
        <constructor-arg name="accountant1" ref="accountant1"/>
        <property name="accountant2" ref="accountant2"/>
    </bean>

</beans>

